* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    width: 900px;
    margin: 5rem auto;
    /* padding: 2rem; */
    box-shadow: 0 0 7px 5px rgba(0, 0, 0, 0.4);
}

.box-top {
    padding: 2rem;
    border-bottom: 1px solid gainsboro;
}

.box-bottom{
    padding: 2rem;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.col-registration {
    display: grid;
    grid-template-columns: 1fr;
    gap: 0.85rem;

    img{
        width: 1.5rem; 
    }
}